{% extends 'inicio/layout.html' %}

{% load static %} <!--CARGAR CONTENIDO ESTATICO-->

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Start slides -->
<div id="slides" class="cover-slides">
  <ul class="slides-container">
    <li class="text-left">
      <img src="{% static 'inicio/images/slider-01.jpg' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Bienvenido a <br> Restaurante Live Dinner</strong></h1>
            <p class="m-b-40">El mejor restaurante de la ciudad.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-left">
      <img src="{% static 'inicio/images/slider-02.jpg' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Prueba nuestros platillos</strong></h1>
            <p class="m-b-40">Deléitate con nuestros exquisitos platillos exclusivos.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-left">
      <img src="{% static 'inicio/images/slider-03.jpg' %}" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Opciones para todos nuestros clientes</strong></h1>
            <p class="m-b-40">En Restaurante Live Dinner encontrarás el platillo ideal, ya que nos adaptamos a tus gustos.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="slides-navigation">
    <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  </div>
</div>
<!-- End slides -->

<!-- Start QT -->
<div class="qt-box qt-background">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <p class="lead ">
          " Si no eres tú quien cocina, mantente alejado y felicita al chef. "
        </p>
        <span class="lead">Michael Strahan</span>
      </div>
    </div>
  </div>
</div>
<!-- End QT -->

<!-- Start Gallery -->
<div class="gallery-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h2>Galería</h2>
          <p>Una muestra de nuestros platillos</p>
        </div>
      </div>
    </div>
    <div class="tz-gallery">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="lightbox" href="{% static 'inicio/images/gallery-img-01.jpg' %}">
            <img class="img-fluid" src="{% static 'inicio/images/gallery-img-01.jpg' %}" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="{% static 'inicio/images/gallery-img-02.jpg' %}">
            <img class="img-fluid" src="{% static 'inicio/images/gallery-img-02.jpg' %}" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="{% static 'inicio/images/gallery-img-03.jpg' %}">
            <img class="img-fluid" src="{% static 'inicio/images/gallery-img-03.jpg' %}" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="lightbox" href="{% static 'inicio/images/gallery-img-04.jpg' %}">
            <img class="img-fluid" src="{% static 'inicio/images/gallery-img-04.jpg' %}" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="{% static 'inicio/images/gallery-img-05.jpg' %}">
            <img class="img-fluid" src="{% static 'inicio/images/gallery-img-05.jpg' %}" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="{% static 'inicio/images/gallery-img-06.jpg' %}">
            <img class="img-fluid" src="{% static 'inicio/images/gallery-img-06.jpg' %}" alt="Gallery Images">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Gallery -->

<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h2>Opiniones de los clientes</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto text-center">
        <div id="reviews" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner mt-4">
            <div class="carousel-item text-center active">
              <div class="img-box p-1 border rounded-circle m-auto">
                <img class="d-block w-100 rounded-circle" src="{% static 'inicio/images/quotations-button.png' %}" alt="">
              </div>
              <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
              <h6 class="text-dark m-0">Desarrollador Web</h6>
              <p class="m-0 pt-3">El mejor restaurante en el que he comido.</p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box p-1 border rounded-circle m-auto">
                <img class="d-block w-100 rounded-circle" src="{% static 'inicio/images/quotations-button.png' %}" alt="">
              </div>
              <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
              <h6 class="text-dark m-0">Diseñador Web</h6>
              <p class="m-0 pt-3">Me encantan sus platillos</p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box p-1 border rounded-circle m-auto">
                <img class="d-block w-100 rounded-circle" src="{% static 'inicio/images/quotations-button.png' %}" alt="">
              </div>
              <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel vebar</strong></h5>
              <h6 class="text-dark m-0">Analista SEO</h6>
              <p class="m-0 pt-3">Su sabor me hace sentir en casa.</p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Customer Reviews -->
{% endblock %}